/* ========================================================================== */
/* INDEX */
/* ========================================================================== */

/* -------------------------------------------------------------------------- */
/* XERAL */
/* -------------------------------------------------------------------------- */

.home-data {
    display: grid;
    transition: var(--transition);
    border-bottom: 1px solid #ffffff30;
    border-radius: var(--esquina-redonda);
    border: 1px solid #ffffff00;
}

.home-data:hover {
    background-color: var(--destaque-transp);
    transition: var(--transition);
    border: 1px solid var(--destaque-transp);
}

.data-head {
    grid-area: data-head;
}
.data-community {
    grid-area: data-community;
}
.data-weather {
    grid-area: data-weather;
}
.data-pollen {
    grid-area: data-pollen;
}

.data-head {
    font-size: 150%;
}
.card {
    height: 100%;
    transition: var(--transition);
}

.card:hover {
    background-color: var(--destaque-transp);
    transition: var(--transition);
}

.data {
    padding: 2rem 0 5rem;
}

/* -------------------------------------------------------------------------- */
/* CONCRETOS */
/* -------------------------------------------------------------------------- */

div.card-body {
    min-height: 10vh;
    background-color: none;
    transition: var(--transition);
    display: grid;
    align-items: center;
}

.card-body p {
    margin-bottom: 0.5rem;
}

.data-weather .card-body {
    display: grid;
    align-items: center;
}

.severity {
    text-align: center;
    .dato {
        font-size: 150%;
    }
}

.greetings {
    display: grid;
    justify-content: center;
    margin: 0 auto 10px;
    border-radius: var(--esquina-redonda);
    transition: var(--transition);
    border: 1px solid var(--destaque-transp);
}
.greetings:hover {
    background-color: var(--destaque-transp);
    transition: var(--transition);
}

/* -------------------------------------------------------------------------- */
/* MEDIA QUERIES */
/* -------------------------------------------------------------------------- */

@media only screen and (max-width: 600px) {
    .home-data {
        font-size: 85%;
        padding: 2rem 0;
        margin: auto;
        gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-areas:
            'data-head'
            'data-community'
            'data-pollen'
            'data-weather';
    }

    .data-weather .card-body {
        grid-template-columns: 1fr;
    }

    .greetings {
        gap: 0.8rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        margin-top: 0.5rem;
    }
}

@media only screen and (min-width: 600px) {
    .home-data {
        width: 85%;
        padding: 1rem;
        margin: auto;
        gap: 1vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'data-head      data-head'
            'data-community data-pollen'
            'data-weather   data-weather';
    }
    .data-weather .card-body {
        grid-template-columns: repeat(2, 1fr);
    }

    .greetings {
        gap: 0.8rem;
        padding: 1rem;
        width: 85%;
        margin-top: 1rem;
    }
}

/* ========================================================================== */
/* FORECAST */
/* ========================================================================== */

.forecast-data-weather {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    margin: 2rem 0;
}
.picto-weather {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.temperatures {
    display: grid;
    width: 70%;
    margin: auto;
    grid-auto-flow: column;
    text-align: center;
    justify-content: center;
    gap: 1.5rem;
}
.bi-thermometer-sun {
    color: var(--vermello);
}
.bi-thermometer-snow {
    color: rgb(0, 115, 255);
}
