/* ========================================================================== */
/* COMUNS */
/* ========================================================================== */

/* ========================================================================== */
/* HEATMAP */
/* ========================================================================== */

#heatmap {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
}

/* ========================================================================== */
/* REXISTROS INDIVIDUAIS */
/* ========================================================================== */

#main-container {
    display: grid;
    row-gap: 1vh;
    column-gap: 1vw;
    grid-auto-flow: row;
    max-width: 850px;
}

.rexistro-individual {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
}

.log-map {
    width: 100%;
    overflow: hidden;
}

.mini-map {
    height: 200px;
    width: 100%;
}

.log-info {
    padding: 10px;
}

/* ========================================================================== */
/* MAPA */
/* ========================================================================== */

.leaflet-bottom {
    font-size: x-small;
}

#map {
    height: 90%;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}