{% extends 'base.html' %} 

<!-- ======================================================================= -->
<!-- HEAD-->
<!-- ======================================================================= -->

{% block head %}
<!-- css -->
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/index.css') }}"
/>
<!-- js -->
<link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/fIndex.js') }}"></script>

<title>Pole</title>
{% endblock %}

<!-- ----------------------------------------------------------------------- -->
<!-- HEADER -->
<!-- ----------------------------------------------------------------------- -->
{% block header %}
<h1>Pole</h1>
{% endblock %}

<!-- ----------------------------------------------------------------------- -->
<!-- CORPO -->
<!-- ----------------------------------------------------------------------- -->
{% block body %}

<div class="greetings">
    <span>Como estás hoxe, {{name}}?</span>
    <a
        href="/userlogs/new"
        class="py-2 rounded-2 btn btn-danger btn-sm"
        title="Rexistro"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        id="userlog-link"
    >
        <i class="bi bi-pencil" id="userlog-icon"></i>
        <span class="">Rexístrao!</span>
    </a>
</div>

{% for location in locations %}{% include 'various/location-index.html' %}{%endfor%}

{% if is_admin %}
<div id="adm">
    <a class="btn btn-outline-danger" href="/admin/users" role="button"
        >Administración</a
    >
</div>
{% endif %}

{% endblock %}
