<!-- ======================================================================= -->
<!-- INICIO -->
<!-- ======================================================================= -->
{% extends 'base.html' %}

<!-- ======================================================================= -->
<!-- HEAD -->
<!-- ======================================================================= -->

{% block head %}
<!-- css -->
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/forms.css') }}"
/>
<!-- js -->
<script src="{{ url_for('static', filename='js/fAuthUser.js') }}"></script>
<title>Novo rexistro | Pole</title>
{% endblock %}

<!-- ======================================================================= -->
<!-- HEADER -->
<!-- ======================================================================= -->

{% block header %}
<h1>Novo rexistro</h1>
{% endblock %}

<!-- ======================================================================= -->
<!-- BODY -->
<!-- ======================================================================= -->
{% block body %}
<div>
    <form method="POST" id="userlogform">
        <div class="mb-3" id="form-userlog-data">
            {{ form.timestamp.label(class="form-label") }}
            {{ form.timestamp(class="form-control") }}
        </div>

        <div class="mb-3" id="form-userlog-localizacion">
            <div>
                {{ form.location.label(class="form-label") }}
                {{ form.location(class="form-control") }}
            </div>
            <div id="suggestions"></div>
            {{ form.coordinates() }}
        </div>

        <div class="mb-3" id="form-userlog-intensidade">
            {{ form.severity.label(class="form-label", id="intensidade-label") }}
            {{ form.severity(class="form-check", id="intensidade-input") }}
        </div>

        <div class="mb-3 btn-group" id="form-userlog-submit">
            {{ form.submit(class="btn btn-primary") }}
            <input type="reset" value="Limpar" class="btn btn-secondary" />
        </div>

        {% if form.location.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.location.errors[0] }}
        </div>
        {% endif %}
        
        {% if form.coordinates.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.coordinates.errors[0] }}
        </div>
        {% endif %}
    </form>
</div>

{% endblock %}
