<!-- ======================================================================= -->
<!-- INICIO -->
<!-- ======================================================================= -->
{% extends 'base.html' %}

<!-- ======================================================================= -->
<!-- HEAD -->
<!-- ======================================================================= -->

{% block head %}
<!-- css -->
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/userlogs.css') }}"
/>
<link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""
/>
<!-- js -->
<script src="{{ url_for('static', filename='js/fAuthUser.js') }}"></script>
<script src="{{ url_for('static', filename='js/fAuthUser.js') }}"></script>
<script src="{{ url_for('static', filename='js/fMapas.js') }}"></script>
<script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""
></script>
<!-- title -->
<title>Os meus rexistros | Pole</title>
{% endblock %}

<!-- ======================================================================= -->
<!-- HEADER -->
<!-- ======================================================================= -->

{% block header %}
<h1>Os meus rexistros</h1>
{% endblock %}

<!-- ======================================================================= -->
<!-- BODY -->
<!-- ======================================================================= -->
{% block body %}
<div id="main-container">
    {% if userlogs %} {% for userlog in userlogs %}
    <div class="rexistro-individual">
        <div class="log-info">
            <dl>
                <dt>Data</dt>
                <dd>{{ userlog.timestamp.split('T')[0] }}</dd>
                <dt>Hora</dt>
                <dd>{{ userlog.timestamp.split('T')[1] }}</dd>
                <dt>Localización</dt>
                <dd>{{ userlog.location.name }}</dd>
                <dt>Intensidade</dt>
                <dd>{{ userlog.severity }}</dd>
            </dl>
        </div>
        <div class="log-map">
            <div id="map-{{ loop.index }}" class="mini-map"></div>
        </div>
    </div>
    {% endfor %} {% else %}
    <div>
        <p>Non fixeches ningún rexistro aínda!</p>
        <p><a href="/userlogs/new">Como te sintes hoxe?</a></p>
    </div>
    {% endif %}

    <!-- ----------------------------------------------------------------------- -->
    <!-- SCRIPT LEAFLET -->
    <!-- ----------------------------------------------------------------------- -->
     
    <script type="text/javascript">
        let userLogsPropios = {{ userlogs|tojson|safe }};
        showLogsMaps(userLogsPropios)
    </script>
    {% endblock %}
</div>
