<div class="data">
    <div class="data-head">📍 {{ location[0]}}</div>
    <div class="data-weather forecast-data-weather">
        {#% include 'various/forecast-location.html' %#} {% for i in range(6) %}
        <div class="card">
            <div class="card-header">
                {% if i == 0 %} O tempo hoxe {%else%} {% if i == 1 %} O tempo
                mañá {%else%} O tempo en {{i}} días {% endif%} {% endif%}
            </div>
            <div class="card-body">
                <div class="picto-weather">
                    <img
                        src="{{location[1].image[i]}}"
                        alt="{{location[1].description[i]}}"
                    />
                    <p class="card-text">{{location[1].description[i]}}</p>
                </div>
                <div>
                    <p class="card-text">
                        <i class="bi bi-cloud-rain-fill"></i> Precipitacións:
                        {{location[1].precipitation_sum[i]}} mm.
                    </p>
                    <p class="card-text">
                        <i class="bi bi-umbrella"></i> Total de horas de chuvia:
                        {{location[1].precipitation_hours[i]}} h.
                    </p>
                    <p class="card-text">
                        <i class="bi bi-cloud-rain-heavy"></i> Chuva:
                        {{location[1].rain_sum[i]}} mm.
                    </p>
                    <p class="card-text">
                        <i class="bi bi-cloud-drizzle"></i> Poalla:
                        {{location[1].showers_sum[i]}} mm.
                    </p>
                </div>
                <div class="temperatures">
                    <p class="card-text">
                        <i class="bi bi-thermometer-sun"></i>
                        {{location[1].temperature_2m_max[i]}} ºC
                    </p>
                    <p class="card-text">
                        <i class="bi bi-thermometer-snow"></i>
                        {{location[1].temperature_2m_min[i]}} ºC
                    </p>
                </div>
                <div>
                    <p class="card-text">
                        <i class="bi bi-wind"></i> Pico de vento:
                        {{location[1].wind_speed_10m_max[i]}} km/h
                    </p>
                    <p class="card-text">
                        <i class="bi bi-wind"></i> Refachos de vento:
                        {{location[1].wind_gusts_10m_max[i]}} km/h
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
