<div class="home-data">
    <div class="data-head">📍 {{ location[0]}}</div>
    <div class="data-community">
        <div class="card">
            <div class="card-header">Datos da comunidade</div>
            <div class="card-body">
                <h5 class="card-title severity">
                    <span class="dato" style="color: {{location[1].color}}"
                        >{{location[1].severity}}</span
                    >
                    {% if location[1].severity != 'Sen datos'
                    %}<span>/5</span>{% endif %}
                </h5>
                <p class="card-text">{{location[1].message}}</p>
            </div>
        </div>
    </div>
    <div class="data-weather">
        <div class="card">
            <div class="card-header">Tempo actual</div>
            <div class="card-body">
                <div>
                    <h5 class="card-title">
                        <img
                            src="{{location[2].image}}"
                            alt="{{location[2].description}}"
                        />
                        {{location[2].description}}
                    </h5>
                </div>
                <div>
                    <p class="card-text">
                        <i class="bi bi-thermometer-half"></i> Temperatura:
                        {{location[2].temperature}}º
                    </p>
                    <p class="card-text">
                        <i class="bi bi-wind"></i> Velocidade do vento:
                        {{location[2].windspeed}} km/h
                    </p>
                    <p class="card-text">
                        <i class="bi bi-wind"></i> Dirección do vento:
                        {{location[2].winddirection}}*
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="data-pollen">
        <div class="card">
            <div class="card-header">Datos de pole</div>
            <div class="card-body">
                {% for nivel in location[3] %}
                <p class="card-text">
                    O nivel de pole de <strong>{{nivel[0].lower()}}</strong> é
                    <strong>{{nivel[1].lower()}}</strong>.
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
