<ul class="nav-ul mb-auto text-center">
    <li class="nav-item py-2">
        <a
            href="/"
            class="nav-link active py-2 rounded-2"
            aria-current="page"
            title="Home"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            id="home-link"
        >
            <i class="bi bi-house" id="home-icon"></i>
            <span class="nav-titulo">Inicio</span>
        </a>
    </li>
    <li class="nav-item py-2">
        <a
            href="/maps"
            class="nav-link py-2 rounded-2"
            title="Mapa"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            id="map-link"
        >
            <i class="bi bi-compass" id="map-icon"></i>
            <span class="nav-titulo">Mapa</span>
        </a>
    </li>
    <li class="nav-item py-2">
        <a
            href="/forecast"
            class="nav-link py-2 rounded-2"
            title="Tempo"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            id="forecast-link"
        >
            <i class="bi bi-cloud-sun" id="forecast-icon"></i>
            <span class="nav-titulo">Tempo</span>
        </a>
    </li>
    <li class="nav-item py-2">
        <a
            href="/user"
            class="nav-link py-2 rounded-2"
            title="User"
            id="profile-link"
        >
            <i class="bi bi-person" id="profile-icon"></i>
            <span class="nav-titulo">Perfil</span>
        </a>
    </li>
    <li class="nav-item py-2 nav-destaque">
        <a
            href="/userlogs/new"
            class="nav-link py-2 rounded-2"
            title="Rexistro"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            id="userlog-link"
        >
            <i class="bi bi-pencil" id="userlog-icon"></i>
            <span class="nav-titulo">Novo rexistro</span>
        </a>
    </li>
</ul>
