<!-- ======================================================================= -->
<!-- INICIO -->
<!-- ======================================================================= -->
{% extends 'base.html' %}

<!-- ======================================================================= -->
<!-- HEAD -->
<!-- ======================================================================= -->

{% block head %}
<!-- css -->

<!-- js -->
<script src="{{ url_for('static', filename='js/fAuthUser.js') }}"></script>
<!-- title -->
<title>Editar perfil | Pole</title>
{% endblock %}

<!-- ======================================================================= -->
<!-- HEADER -->
<!-- ======================================================================= -->

{% block header %}
<h1>Editar perfil</h1>
{% endblock %}

<!-- ======================================================================= -->
<!-- BODY -->
<!-- ======================================================================= -->
{% block body %}

<form method="POST" action="{{ url_for('user_bp.update_user') }}">
    {{form.hidden_tag() }}
    <div class="row my-3">
        <div class="col-md-6 form-floating mb-3">
            {{form.name(class="form-control", placeholder="Nome")}}
            {{form.name.label}}
        </div>
        <div class="col-md-6 form-floating mb-3">
            {{form.lastname(class="form-control", placeholder="Apelidos")}}
            {{form.lastname.label}}
        </div>
    </div>
    <div class="form-floating mb-3">
        {{form.email(class="form-control", placeholder="Correo electrónico")}}
        {{form.email.label}}
    </div>
    <div class="form-floating mb-3">
        {{form.birthdate(class="form-control")}} 
        {{form.birthdate.label}}
    </div>
    <div class="form-floating mb-3">
        {{form.location(class="form-control", placeholder="Localización")}}
        {{form.location.label}}
        <div id="suggestions"></div>
        {{form.coordinates(class="d-none")}}
    </div>
    <div class="input-group">
        {{form.submit(class="btn btn-primary")}}
        <input type="reset" value="Restabelecer" class="btn btn-secondary" />
    </div>
</form>



<a href="/user/delete" class="btn btn-danger" id="user-delete">Borrar conta</a>


<div class="my-3">
    {% if form.name.errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.name.errors[0] }}
    </div>
    {% endif %}
    {% if form.lastname.errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.lastname.errors[0] }}
    </div>
    {% endif %}
    {% if form.email.errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.email.errors[0] }}
    </div>
    {% endif %}
    {% if form.birthdate.errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.birthdate.errors[0] }}
    </div>
    {% endif %}
    {% if form.location.errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.location.errors[0] }}
    </div>
    {% endif %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- ----------------------------------------------------------------------- -->
<!-- FIN BODY -->
<!-- ----------------------------------------------------------------------- -->
{% endblock %}
