{%extends 'auth/auth-base.html' %}

<!-- ======================================================================= -->
<!-- HEAD -->
<!-- ======================================================================= -->
{% block head %}
<!-- js -->
<script src="{{ url_for('static', filename='js/fAuthUser.js') }}"></script>
<!-- title -->
<title>Rexistro | Pole</title>
{% endblock %}

<!-- ======================================================================= -->
<!-- BODY -->
<!-- ======================================================================= -->
{% block body %}

<div class="grid-login">
    <div class="login-images">
        <img
            class="login-banner"
            src="/static/images/logo-1.3-banner.png"
            alt="Pollen logo"
        />
    </div>
    <div class="login-text">
        <h1>Non estás dentro?</h1>
        <div class="login-form" id="rexistro">
            <form method="POST" action="{{ url_for('auth_bp.register') }}">
                {{ form.hidden_tag() }}
                <div class="form-floating" id="nome">
                    {{form.name(class="form-control", placeholder="Nome")}}
                    {{form.name.label}}
                </div>
                <div class="form-floating" id="apelido">
                    {{form.lastname(class="form-control",
                    placeholder="Apelidos")}} {{form.lastname.label}}
                </div>
                <div class="form-floating" id="email">
                    {{form.email(class="form-control", placeholder="Correo
                    electrónico")}} {{form.email.label}}
                </div>
                <div class="input-group" id="username">
                    <span class="input-group-text">@</span>
                    <div class="form-floating">
                        {{form.username(class="form-control", placeholder="Nome
                        de usuario")}} {{form.username.label}}
                    </div>
                </div>
                <div class="form-floating" id="birthdate">
                    {{form.birthdate(class="form-control", placeholder="Data de
                    nacemento")}} {{form.birthdate.label}}
                </div>
                <div class="form-floating" id="pass1">
                    {{form.password(class="form-control",
                    placeholder="Contrasinal")}} {{form.password.label}}
                </div>
                <div class="form-floating" id="pass2">
                    {{form.confirm_password(class="form-control",
                    placeholder="Contrasinal")}} {{form.confirm_password.label}}
                </div>
                <div class="form-floating" id="alerxias">
                    {{form.pollen_allergies(class="form-select",
                    placeholder="Alerxias", size=5)}}
                    {{form.pollen_allergies.label}}
                </div>
                <div class="form-floating" id="locs">
                    {{form.location(class="form-control",
                    placeholder="Contrasinal")}} {{form.location.label}}
                    <div id="suggestions"></div>
                    {{form.coordinates}}
                </div>
                <div class="form-floating" id="submit">
                    {{form.submit(class="btn btn-primary my-3")}}
                </div>
            </form>
        </div>
        <div class="my-3">
            {% if form.name.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.name.errors[0] }}
            </div>
            {% endif %} {% if form.lastname.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.lastname.errors[0] }}
            </div>
            {% endif %} {% if form.email.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.email.errors[0] }}
            </div>
            {% endif %} {% if form.birthdate.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.birthdate.errors[0] }}
            </div>
            {% endif %} {% if form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.password.errors[0] }}
            </div>
            {% endif %} {% if form.location.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.location.errors[0] }}
            </div>
            {% endif %} {% if form.coordinates.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.coordinates.errors[0] }}
            </div>
            {% endif %} {% with messages =
            get_flashed_messages(with_categories=true) %} {% if messages %} {%
            for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %} {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error["detail"] }}
            </div>
            {% endif %}
        </div>
        <span>Se xa tes conta → <a href="/login">inicia sesión</a>.</span>
    </div>
</div>
{% endblock %}
